# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
env
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# flask
venv
__pycache__

# misc
.eslintcache
backup-code.json
backup-code-latest.json
backup-code-after-two.json
backup-code-before-compilation.json
digitalsfrAPIkey.json
firebase-rtdb.json
sfrcmsAPIkey.json