.sub-grid-container {
    display: grid;
    grid-template-columns: auto 60px;
    background:#f1c40f96;
    border-radius: 5px;
    margin: 20px 0 20px 0;
  }

  .sub-grid-container-green {
    display: grid;
    grid-template-columns: auto 60px;
    background:#ffffff30;
    border-radius: 5px;
    margin: 20px 0 20px 0;
  }
  
  
  .sub-grid-container-green .subtitlebar {
    padding-left: 20px;
    margin-top: 10px;
  }

  .sub-grid-container-green .subtitlebar .subtitle {
    font-weight: 600;
  }

  .sub-grid-container .subtitlebar .subtitle {
    font-weight: 600;
  }

  .sub-grid-container .subtitlebar {
    padding-left: 20px;
    margin-top: 10px;
  }