.chart {
    width: 100%;
    height: 100%;
}

.card-margin {
    padding: 10px 0 10px 0;
    margin: 20px 0 20px 0;
}

.card-colored {
    background-color: rgba(225,227,225,0.5);
    padding: 10px 0 10px 0;
    margin: 20px 0 20px 0;
}