* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.baloo {
  font-family: 'Baloo Tammudu 2', cursive;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }

  .bm-burger-button-false {
    width: 0px;
    height: 0px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  @media (max-width: 700px) {
    .bm-cross-button {
      right: 210px !important;
    }
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    /* background:#0F7173;     */
    background:rgba(9, 62, 63, 0.9);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    /* color: #a77f79; */
    padding: 0.8em;
    /* overflow-y: hidden !important; */
  }

  .bm-item-list a {
    background:rgba(21, 121, 122, 0.5);
    padding: 10px;;
  }

  .bm-item-list a:hover {
    background:#e98d7f;
  }


  @media (max-width: 700px) {
    .bm-item {
      display: inline-block;
      width: 350px;
    }

    .bm-item-list {
      padding: 0.8em;
    }
  
    .bm-item-list a {
      background:rgba(21, 121, 122, 0.5);
      padding: 10px;
    }
  
    .bm-item-list a:hover {
      background:#e98d7f;
    }
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
    /* color:pink; */
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0,0,0,0);
  }

  /* Individual item */
.bm-item {
    display: inline-block;
    color: #d1d1d1;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: #ffffff;
  }