.spinner {
    animation: spin infinite 5s linear;
    position: fixed;
    top: 45%;
    right: 50%; /* or: left: 50%; */
    height: 10%;
    width: 10%;
    color: rgba(57, 118, 136, 0.33);
    /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
  }

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contentwrapper {
  padding:30px 50px 0px 50px;
}

@media (max-width:700px) {
  .contentwrapper {
    padding:0px 0px 0px 0px;
  }
}

.title {
  padding:10px 0 0 0;
}

p {
  margin:10px 0 0 0;
  text-indent: 30px;
}

.list {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin: 0px 30px 0px 30px;
}

.sublist {
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin: 0px 30px 0px 100px;
  list-style: circle ;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto 60px;
  background:#f1570f96;
  border-radius: 5px;
  margin: 20px 0 20px 0;
}

.gridContainer .titleBar {
    padding-left: 10px;
    /* padding-bottom: 10px; */
  }

  .chart-grid {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    border-radius: 5px;
    /* margin: 20px; */
  }

/* Tooltip CSS */

.tooltip {
  position: relative;
  display: inline-block;
  margin-left: -30px;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(255, 255, 255);
  color: rgb(14, 13, 13);
  text-align: left;
  border-radius: 6px;
  padding: 0px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  min-width: 300px;
  bottom: 100%;
  padding: 20px;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  /* margin-left: -5px; */
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip .tooltiptext {
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}

.footnote {
  margin-bottom: -10px;
  padding-bottom: 10px;
}

.headnote {
  text-align:right;
  margin-top:20px;
}