{% extends "layout.jinja2" %}

{% block content %}

<div id="bg" style="background-image: url(https://holidify.com/images/attr_wiki/compressed/attr_wiki_2839.jpg);
                background-size: 100% 100%;">

<!-- https://shathayuretreat.com/wp-content/uploads/2017/12/vidhana-soudha-780x340.png
https://holidify.com/images/attr_wiki/compressed/attr_wiki_2839.jpg -->


<div class="card">
   <div class="contain">
      <img src="{{ url_for('static', filename='dist/img/IAAD Logo.jpg') }}" class="logo" style="width:10%;">
      <h1 class="site-title">State Finance Report of Karnataka Dashboard, 2020-21</h1>
      <div class="middle">
         <div class="text"><a href="/sfrdashboard/">
            <span>SFR Dashboard</span>
            <i class="fas fa-arrow-right"></i>
            </a>
         </div>
      </div>
   </div>
</div>

{% endblock %}
